@import "tailwindcss";

@theme {
  --color-primary: #059669; /* emerald-600 */
  --color-primary-dark: #047857; /* emerald-700 */
  --color-primary-light: #10b981; /* emerald-500 */
  --color-accent: #d4af37; /* gold */
  
  --font-sans: var(--font-outfit);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased;
  }
}

